.main{
    width: 1366px;
    height: 635px;
    background-color: rgb(47, 58, 90);
    overflow: hidden;
}
.background1{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
.background_image{
    width: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.cartoon_img{
    position: absolute;
    margin-top: 635px;
    width: 600px;
    margin-left: 260px;
}
.small_heart{
    position: absolute;
    width: 100px;
    margin-top: 180px;
    margin-left: 480px;
    opacity: 0;
}
.background2{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: none;
}
.finger{
    width: 0px;
    margin-top: 20px;
    position: absolute;
}
.mini_heart{
    width: 20px;
    position: absolute;
    margin-top: 80px;
    margin-left: 200px; 
    opacity: 0;
}
.frame{
    position: absolute;
    width: 500px;
    height: 450px;
    margin: 100px 433px 85px 433px;
    border:5px solid #ffffff;
    opacity: 0;
    overflow: hidden;
}
.photo_display{
    width: 100%;
}