.main{
    padding: 0px;
    background-image: url(images/background.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
.navigator{
    margin: 0px;
    height: 40px;
    background-color: #fff;
}